@{
}

@model BooksViewModel

    
<!--Goes through all of the pages to display the books in the database-->
@foreach (Book b in Model.Books)
{
    <partial name="ProjectSummary" model="b"/>
}

<!--Pagination that is used at the bottom.-->
<div page-model="@Model.PageInfo" page-action="Index" page-class="btn" 
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>


