@page
@model Mission_7_Assignment.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your items have been purchased!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>